canvas {
    display: inline-block;
}

.title {
    font-size: 40px;
    display: inline;
}

.head {
    width: 1800px;
}

.foot {
    width: 500px;

}

.body {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 800px;
    position: absolute;
}

.loading {
    visibility: hidden;
}